.user-avatar {
  width: 30%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #358daa;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png"); /* Set the background image */
  background-repeat: repeat; /* Ensure the background image repeats if it's smaller than the viewport */
}

.my-name {
  font-family: 'Source Sans 3', sans-serif; /* Apply desired font */
  font-size: 20px; /* Adjust font size as necessary */
  font-weight: 100;
  color: #FFFFFF;
}