.tweet {
  border: 2px solid;
  padding: 15px;
  margin-bottom: 15px;
}

.user-header {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.username {
  color: rgb(200, 197, 197);
}

.tweet-content {
  border-bottom: 2px solid black;
  padding: 0 0.8em;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.8em;
}

.interactive-icons i {
  font-size: 13px;
  color: #4056a1;
  margin: 5px;
  cursor: pointer;
}

.timestamp {
  font-size: 13px;
  color: #000000;
}
