.tweet {
  border: 2px solid;
  padding: 15px;
  margin-bottom: 15px;
  background-color: darkseagreen;
}

.tweet:hover {
  box-shadow: 8px 8px 0px 0px rgba(197, 203, 227, 1);
}

.user-header {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.username {
  color: rgb(200, 197, 197);
  margin-left: 10px;
}

.tweet-content {
  border-bottom: 2px solid black;
  padding: 0 0.8em;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.8em;
}

.interactive-icons i {
  font-size: 13px;
  color: #4056a1;
  margin: 5px;
  cursor: pointer;
}

.interactive-icons i:hover{
  color: #d79922;
}

.timestamp {
  font-size: 13px;
  color: #000000;
}
